.passp__submit-button {
  background-color: white;
  margin-top: 216px;
  padding: 0;
  color: black;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
